@font-face {
  font-family: 'pkmn_rbygscregular';
  src:
    url('../assets/fonts/pkmnrbygsc-webfont.woff2') format('woff2'),
    url('../assets/fonts/pkmnrbygsc-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'pkmn_rbygscregular', monospace, system-ui;
  background-color: #fff;
  color: #000;
}

/* NES.css requiere que el font-family sea heredado en body */
html {
  font-family: inherit;
}
