@font-face {
  font-family: 'pkmn_rbygscregular';
  src:
    url('../assets/fonts/pkmnrbygsc-webfont.woff2') format('woff2'),
    url('../assets/fonts/pkmnrbygsc-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: 'pkmn_rbygscregular', monospace, system-ui;
}

body {
  font-family: inherit;
  background-color: #fff;
  background-image: url('/lavender-town-ghost.jpg');
  background-size: cover;
  background-position: center;
  color: #000;
}

@supports (background-image: url('image.avif')) {
  body {
    background-image: url('/lavender-town-ghost.avif');
  }
}

@supports (background-image: url('image.webp')) {
  body {
    background-image: url('/lavender-town-ghost.webp');
  }
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

@supports (height: 100dvh) {
  #root {
    height: 100dvh;
  }
}
