.card {
  background-color: var(--color-bg);
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: var(--spacing-md);
  width: 12.5em;
  aspect-ratio: 25/31;
  cursor: var(--nes-cursor), pointer;

  /* Reset nes-container styles */
  margin: 0 !important;
  border-image-repeat: unset !important;
  padding: var(--spacing-md) !important;
}

@media (hover: hover) and (pointer: fine) {
  .card-selected {
    animation: blink-shadow 1s infinite;
    box-shadow: 0 0 0 4px var(--color-focus);
  }
}

.name {
  text-align: center;
}

.image {
  width: var(--image-width);
  height: auto;
}

@keyframes blink-shadow {
  0%,
  100% {
    box-shadow: 0 0 0 0 transparent;
  }

  50% {
    box-shadow: 0 0 0 4px var(--color-focus);
  }
}
