.card {
  background-color: var(--color-bg);
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: var(--spacing-sm);
  width: 12.5em;
  aspect-ratio: 25/31;

  /* Reset nes-container styles */
  margin: 0 !important;
  border-image-repeat: unset !important;
  padding: var(--spacing-sm) !important;
}

.name {
  text-align: center;
}

.image {
  width: var(--image-width);
  height: auto;
}
