.overlay {
  position: fixed;
  inset: 0;
  background: var(--color-text);
  display: grid;
  place-items: center;
  z-index: 1000;
}

.modal {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  background: var(--color-bg);
  padding: var(--spacing-lg);
  max-width: var(--modal-max-w);
  text-align: center;
}

.title {
  font-size: 1rem;
  display: flex;
  gap: var(--spacing-md);
  justify-content: center;
  align-items: center;
}

.title h1 {
  font-size: 1em;

  /* Reset nes.css default h1 styles */
  margin: unset;
}

.icon {
  height: 1em;
}

.content {
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.content p {
  /* Reset nes.css default p styles */
  margin: 0;
}

.actions {
  display: flex;
  justify-content: space-around;
}

.actions input {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}

.actions label {
  /* Reset base nes.css label styles */
  margin: 0;
  font-size: 1rem;
}
