.scoreboard {
  display: flex;
  justify-content: space-around;
  gap: var(--spacing-xs);
  flex-wrap: wrap;
  padding: var(--spacing-xs);
  margin-left: auto;
  font-size: 1rem;
}

@media (width >= 425px) {
  .scoreboard {
    max-width: 35em;
  }
}
