.scoreboard {
  display: flex;
  justify-content: space-around;
  gap: var(--spacing-xs);
  flex-wrap: wrap;
  padding: var(--spacing-xs);
  margin-left: auto;
}

@media (width >= 768px) {
  .scoreboard {
    max-width: 500px;
  }
}
